.voting-item {
    float: left;
    padding:20px;
    margin:10px;
    width:170px;
    border: 1px solid #ccc;
    border-radius:10px;
}
.voting-change{
    float: left;
    padding:20px;
    margin:10px;
    width:170px;
    border: 1px solid #ccc;
    border-radius:10px;
    background-color: yellow;
}